<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiantian.mapper.SysMenuMapper">

    <resultMap id="sysRouterMap" type="com.tiantian.entity.SysRouter">
        <result column="PRIV_ID" property="privId"/>
        <result column="PRIV_CODE" property="name"/>
        <result column="PARENT_ID" property="parentId"/>
        <result column="PRIV_URL" property="path" typeHandler="com.tiantian.utils.util.EmptyStringIfNull"/>
        <result column="IS_MENU" property="isMenu"/>
        <result column="SORT_ID" property="sortId"/>
        <result column="STATUS" property="status"/>
        <result column="COMPONENT" property="component"/>
        <result column="REDIRECT" property="redirect" typeHandler="com.tiantian.utils.util.EmptyStringIfNull"/>
        <result column="HIDDEN" property="hidden"/>
        <result column="ALIAS" property="alias" typeHandler="com.tiantian.utils.util.EmptyStringIfNull"/>
        <collection property="meta" ofType="SysRouterMeta">
            <result column="PRIV_NAME" property="title"/>
            <result column="ICON" property="icon"/>
        </collection>
    </resultMap>

    <select id="getAllMenu" resultMap="sysRouterMap">
        SELECT
        sys_router_temp.PRIV_ID,
        sys_router_temp.PRIV_CODE,
        sys_router_temp.PARENT_ID,
        sys_router_temp.PRIV_NAME,
        sys_router_temp.PRIV_URL,
        sys_router_temp.IS_MENU,
        sys_router_temp.SORT_ID,
        sys_router_temp.STATUS,
        sys_router_temp.COMPONENT,
        sys_router_temp.REDIRECT,
        sys_router_temp.HIDDEN,
        sys_router_temp.ALIAS,
        sys_router_temp.ICON
        FROM
        sys_role_router
    </select>
</mapper>
