<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiantian.mapper.SysRouterMapper">

    <resultMap id="sysRouterMap" type="com.tiantian.entity.SysRouter">
        <result column="PRIV_ID" property="privId"/>
        <result column="PRIV_CODE" property="privCode"/>
        <result column="PRIV_NAME" property="privName"/>
        <result column="PARENT_ID" property="parentId"/>
        <result column="PRIV_URL" property="privUrl"/>
        <result column="IS_MENU" property="isMenu"/>
        <result column="SORT_ID" property="sortId"/>
        <result column="STATUS" property="status"/>
        <result column="COMPONENT" property="component"/>
        <result column="REDIRECT" property="redirect"/>
        <result column="HIDDEN" property="hidden"/>
        <result column="ALIAS" property="alias"/>
    </resultMap>

    <resultMap id="sysRoleMap" type="com.tiantian.entity.SysRole">
        <result column="ROLE_ID" property="roleId"/>
        <result column="ROLE_NAME" property="roleName"/>
        <result column="STATUS" property="status"/>
        <result column="ROLE_CODE" property="roleCode"/>
    </resultMap>

    <select id="getUserRoutersByRoles" resultMap="sysRouterMap" parameterType="list">
        SELECT
        sys_router_temp.PRIV_ID,
        sys_router_temp.PRIV_CODE,
        sys_router_temp.PARENT_ID,
        sys_router_temp.PRIV_NAME,
        sys_router_temp.PRIV_URL,
        sys_router_temp.IS_MENU,
        sys_router_temp.SORT_ID,
        sys_router_temp.STATUS,
        sys_router_temp.COMPONENT,
        sys_router_temp.REDIRECT,
        sys_router_temp.HIDDEN,
        sys_router_temp.ALIAS
        FROM
            sys_role_router
            INNER JOIN sys_router_temp ON sys_role_router.priv_id = sys_router_temp.PRIV_ID
        WHERE 
        <foreach collection="list" index="index" item="item" open="" close="" separator="or">
            sys_role_router.role_id = #{item}
        </foreach>
    </select>
    <select id="getUserRolesByUserId" resultType="string">
        SELECT
            sys_role.ROLE_ID
        FROM
            sys_user_role
            INNER JOIN sys_role ON sys_role.ROLE_ID = sys_user_role.role_id
        WHERE
            sys_user_role.user_id = #{userId} AND sys_role.status = 1
    </select>
</mapper>
