<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiantian.mapper.SysRouterMapper">

    <resultMap id="sysRouterMap" type="com.tiantian.entity.SysRouter">
        <result column="PRIV_ID" property="privId"/>
        <result column="PRIV_CODE" property="name"/>
        <result column="PARENT_ID" property="parentId"/>
        <result column="PRIV_URL" property="path" typeHandler="com.tiantian.utils.util.EmptyStringIfNull"/>
        <result column="IS_MENU" property="isMenu"/>
        <result column="SORT_ID" property="sortId"/>
        <result column="STATUS" property="status"/>
        <result column="COMPONENT" property="component"/>
        <result column="REDIRECT" property="redirect" typeHandler="com.tiantian.utils.util.EmptyStringIfNull"/>
        <result column="HIDDEN" property="hidden"/>
        <result column="ALIAS" property="alias" typeHandler="com.tiantian.utils.util.EmptyStringIfNull"/>
        <collection property="meta" ofType="SysRouterMeta">
            <result column="PRIV_NAME" property="title"/>
            <result column="ICON" property="icon"/>
        </collection>
    </resultMap>

    <resultMap id="privMap" type="com.tiantian.entity.SysMenu">
        <id property="privId" column="PRIV_ID" />
        <!-- 用来构造菜单树，便于管理 -->
        <result property="parentId" column="PARENT_ID" />
        <result property="name" column="PRIV_NAME" />
        <result property="code" column="PRIV_CODE" />
        <!-- 菜单URL连接 -->
        <result property="url" column="PRIV_URL" />
        <!-- 菜单的排序号 -->
        <result property="sortId" column="SORT_ID" />
        <!-- 1:菜单；0：权限 -->
        <result property="isMenu" column="IS_MENU" />
        <result property="status" column="STATUS" />
        <result property="component" column="COMPONENT" />
        <result property="redirect" column="REDIRECT" />
        <result property="hidden" column="HIDDEN" />
        <result property="alias" column="ALIAS" />
        <result property="access" column="ACCESS" />
    </resultMap>

    <resultMap id="sysRoleMap" type="com.tiantian.entity.SysRole">
        <result column="ROLE_ID" property="roleId"/>
        <result column="ROLE_NAME" property="roleName"/>
        <result column="STATUS" property="status"/>
        <result column="ROLE_CODE" property="roleCode"/>
    </resultMap>

    <select id="getUserRoutersByRoles" resultMap="sysRouterMap" parameterType="list">
        SELECT
        sys_router.PRIV_ID,
        sys_router.PRIV_CODE,
        sys_router.PARENT_ID,
        sys_router.PRIV_NAME,
        sys_router.PRIV_URL,
        sys_router.IS_MENU,
        sys_router.SORT_ID,
        sys_router.STATUS,
        sys_router.COMPONENT,
        sys_router.REDIRECT,
        sys_router.HIDDEN,
        sys_router.ALIAS,
        sys_router.ICON
        FROM
            sys_role_router
            INNER JOIN sys_router ON sys_role_router.priv_id = sys_router.PRIV_ID
        WHERE 
        <foreach collection="list" index="index" item="item" open="" close="" separator="or">
            sys_role_router.role_id = #{item}
        </foreach>
        ORDER BY sys_router.PARENT_ID, sys_router.SORT_ID
    </select>
    <select id="getUserRolesByUserId" resultType="string">
        SELECT
            sys_role.ROLE_ID
        FROM
            sys_user_role
            INNER JOIN sys_role ON sys_role.ROLE_ID = sys_user_role.role_id
        WHERE
            sys_user_role.user_id = #{userId} AND sys_role.status = 1
    </select>
    <select id="getAllMenu" resultMap="privMap">
        SELECT
        sys_router.PRIV_ID,
        sys_router.PRIV_CODE,
        sys_router.PARENT_ID,
        sys_router.PRIV_NAME,
        sys_router.PRIV_URL,
        sys_router.IS_MENU,
        sys_router.SORT_ID,
        sys_router.STATUS,
        sys_router.COMPONENT,
        sys_router.REDIRECT,
        sys_router.HIDDEN,
        sys_router.ALIAS,
        sys_router.ICON
        FROM
        sys_router
    </select>
</mapper>
