<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiantian.mapper.SysUserMapper">

    <resultMap id="sysUserMap" type="com.tiantian.entity.SysUser">
        <result property="userId" column="USER_ID"/>
        <result property="userName" column="USER_NAME"/>
        <result property="pwd" column="PWD"/>
        <result property="salt" column="SALT"/>
        <result property="status" column="STATUS"/>
    </resultMap>

    <select id="getUserById" resultMap="sysUserMap">
        SELECT sys_user.user_id,sys_user.user_name,sys_user.PWD,sys_user.salt,sys_user.STATUS FROM sys_user WHERE user_id = #{user_id}
    </select>

    <select id="getUserList" resultMap="sysUserMap" parameterType="string">
        SELECT sys_user.user_id,sys_user.user_name,sys_user.STATUS FROM sys_user
        <where>
            <if test="userId != '' and userId != null">
                user_id = #{userId}
            </if>
        </where>
    </select>
    <select id="getUserRole" resultType="com.tiantian.entity.SysRole">
        SELECT
            r.ROLE_ID,
            r.ROLE_CODE,
            r.ROLE_NAME,
            r.STATUS
            FROM
            sys_role AS r
            INNER JOIN sys_user_role AS ur ON ur.role_id = r.ROLE_ID
            WHERE
            ur.user_id = #{userId}
    </select>

    <update id="resetPwd" parameterType="com.tiantian.entity.SysUser">
        UPDATE sys_user SET pwd = #{pwd}, salt = #{salt} where user_id = #{userId}
    </update>

    <insert id="insertUser" parameterType="com.tiantian.entity.SysUser">
        INSERT INTO sys_user VALUES (
          #{userId}
          #{userName}
          #{password}
          #{salt}
          0
        )
    </insert>
    <insert id="insertUserRoles" parameterType="com.tiantian.entity.SysUser">
        INSERT INTO sys_user_role VALUES
          <foreach collection="roles" index="index" item="item" separator=",">
              (#{userId},#{item})
          </foreach>
    </insert>

</mapper>
