<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiantian.mapper.SysUserMapper">

    <resultMap id="TbUserMap" type="com.tiantian.entity.SysUser">
        <result property="userId" column="USER_ID"/>
        <result property="userName" column="USER_NAME"/>
        <result property="pwd" column="PWD"/>
        <result property="salt" column="SALT"/>
        <result property="status" column="STATUS"/>
    </resultMap>

    <select id="getUserById" resultMap="TbUserMap">
        SELECT sys_user.user_id,sys_user.user_name,sys_user.PWD,sys_user.salt,sys_user.STATUS FROM sys_user WHERE user_id = #{user_id}
    </select>

    <select id="getUserList" resultMap="TbUserMap" parameterType="string">
        SELECT sys_user.user_id,sys_user.user_name,sys_user.PWD,sys_user.salt,sys_user.STATUS FROM sys_user
        <where>
            <if test="userId != '' and userId != null">
                user_id = #{userId}
            </if>
        </where>
    </select>

    <update id="resetPwd" parameterType="SysUser">
        UPDATE sys_user SET pwd = #{pwd}, salt = #{salt} where user_id = #{userId}
    </update>

</mapper>
